body{
    font-family: Arial;
    background:#f2f2f2;
}

.box{
    width:380px;
    background:#fff;
    padding:25px;
    margin:80px auto;
    border-radius:10px;
    box-shadow:0 0 10px #999;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    font-size:16px;
}

button{
    padding:10px 25px;
    font-size:16px;
    margin-top:10px;
    cursor:pointer;
}

#result{
    margin-top:15px;
    font-size:16px;
    font-weight:bold;
    line-height:1.6;
}
